.movies{
  display: flex;
  flex-wrap: wrap;
}

.movie{
  width: 33.33%;
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}



img{
  max-width: 100%;
  width: 200px;
  height: 300px;
  padding-bottom: 20px;
}

button{
  width: 100%;
  margin-top: 20px;
  height: 100px;
}
